@charset "UTF-8";
/* CSS Document */

a {
  outline: none;
  color: #000;
  text-decoration:none;
  padding: 2px 1px 0;
}

a.intro {
  font-style:normal;
}
a.intro:hover {
	color: #000;
	font-style: normal;
  text-decoration: underline;
}

a:link {
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: rgb(175, 175, 175);
	font-style: normal;
  text-decoration:none;
}
a:active {
	text-decoration: none;
	color: rgb(175, 175, 175);

}
a::selection {
  color: #fff;
  background-color: none;
}

a:focus {
  color: rgb(175, 175, 175);
  text-decoration:none;
}

.text {
	width:px;
	margin-left:px;
	left:1%;
	font-family:Helvetica, Arial, sans-serif;
	letter-spacing:1px;
	font-size:28px;

}

.legende {
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;

}

.bw::selection {
      color: #fff;
      background-color:none;
}


img {
    width:50%;
    margin-left:2%;
    margin-top:2%;
}

@media (max-width: 480px) {
 img {
    width:360px;
    margin-left:1px;
    }

}

